:root {
	--wrapper: #fafafa;
	--maintext: #111;
	--maintext_light: rgba(255, 255, 255, 0.7);
	--mainbgc: #fcf1e0;
	--ligth_text: #fff;
	--subbgc: #fd9222;
	--dark_fon: #1e1823;
	--bor_right: rgba(255, 255, 255, 0.5);
	--bor_bottom: rgba(255, 255, 255, 0.1);
	--border: rgba(17, 17, 17, 0.1);
	--smtext: rgba(17, 17, 17, 0.7);
	--placeholdertext: rgba(64, 64, 64, 0.3);
}

/*-------Обнулення-------*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
a:link {
	text-decoration: none;
}
a {
	color: currentColor;
}
ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
button {
	cursor: pointer;
}
img {
	display: block;
	max-width: 100%;
	/* height: auto; */
	object-fit: cover;
}
textarea {
	display: block;
	resize: none;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}

input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
	outline: 0;
	outline-offset: 0;
}

/*-------Загальні стилі------*/
html {
	scroll-behavior: smooth;
	/* scrollbar-color: var(--subbgc) var(--placeholdertext);
	scrollbar-width: thin; */
}
body {
	font-family: "Montserrat", sans-serif;
	color: var(--maintext);
	font-weight: 400;
	font-size: 14px;
	background-color: var(--wrapper);
}

.conteiner {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1166px;
	height: 100%;
}

/*------HEADER------*/
.header {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	align-items: center;
}

.header__nav {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	align-items: center;
}

.header__logo {
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 28px 0 34px;

	font-size: 21.6px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-align: center;
	transition-property: background-image;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo_italic {
	font-style: italic;
}

.header__logo:hover,
.header__logo:focus {
	background-image: radial-gradient(ellipse at center, #fceabc 0%, #fd9222 0%, #000111 48%, #000111 48%, #000111 55%, #000111 55%, #fd9222 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-box-direction-break: clone;
}

.header__logo:hover > .header__logosvg,
.header__logo:focus > .header__logosvg {
	transform: rotate3d(0, 1, 0, 180deg);
}

.header__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}

.header__navitem {
	position: relative;
}

.header__navlink {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: -0.28px;
	padding: 28px 0 34px;
}

.header__navlink::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	width: 20%;
	height: 4px;
	background-color: var(--subbgc);
	border-radius: 2px;
	opacity: 0;
	transition-property: opacity width;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navlink:hover::after {
	opacity: 1;
	width: 95%;
}

.header__add {
	display: flex;
	justify-content: center;
}

.header__addlist {
	display: flex;
	column-gap: 18px;
	align-items: center;
	flex-wrap: nowrap;
}

.header__additem {
	width: 24px;
	height: 24px;
}

.header__addlink {
	width: 100%;
	height: 100%;
	padding: 40px 0 28px;
}

.header__addsvg {
	stroke: var(--maintext);
	transition-property: stroke;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__addlink:hover .header__addsvg,
.header__addlink:focus .header__addsvg {
	stroke: var(--subbgc);
}

/*------Hero Page-------*/

.heropage__inner {
	display: flex;
	flex-direction: column;
	gap: 32px;
	flex-wrap: wrap;

	background: var(--mainbgc);
	background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/png/chocolate-covered.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
	overflow: hidden;
	padding: 381px 40px 40px;
}

.heropage__primertext {
	color: var(--ligth_text);
	font-size: 28px;
	font-weight: 500;
	line-height: 1.21;
	letter-spacing: -0.84px;
	max-width: 484px;
}

.heropage__interactive {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heropage__list {
	display: flex;
	gap: 14px;
}

.main_button {
	display: block;
	color: var(--ligth_text);
	font-weight: 600;
	background-color: var(--subbgc);
	border-radius: 100px;
	padding: 14px 40px;
	transition-property: color background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main_button:hover,
.main_button:focus {
	color: var(--subbgc);
	background-color: var(--mainbgc);
	transform: scale(1.1);
}

.heropage__buttonlink {
	display: block;
	color: var(--ligth_text);
	font-weight: 600;
	border: 1px solid var(--ligth_text);
	background-color: transparent;
	border-radius: 100px;
	padding: 14px 40px;
	transition-property: color border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.heropage__buttonlink:hover,
.heropage__buttonlink:focus {
	color: var(--subbgc);
	border-color: var(--subbgc);
	transform: scale(1.1);
}

.heropage__svglink {
	display: flex;
	align-items: center;
	column-gap: 14px;
}

.heropage__textlink {
	color: var(--ligth_text);
	font-weight: 500;
	line-height: 1.29; /* 128.571% */
	letter-spacing: -0.42px;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.heropage__click {
	display: block;
	position: relative;
	width: 38px;
	height: 38px;
	background-color: var(--ligth_text);
	border-radius: 50%;
	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.heropage__svg {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	fill: var(--subbgc);
	transform: translate(-50%, -50%);
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.heropage__svglink:hover > .heropage__textlink,
.heropage__svglink:focus > .heropage__textlink {
	color: var(--subbgc);
	transform: scale(1.1);
}

.heropage__svglink:hover > .heropage__click,
.heropage__svglink:focus > .heropage__click {
	background-color: var(--subbgc);
	transform: scale(1.1) rotate(-90deg);
}

.heropage__svglink:hover .heropage__svg,
.heropage__svglink:focus .heropage__svg {
	fill: var(--ligth_text);
}

/*------Benefits------*/
.benefits {
	background-color: var(--dark_fon);
	margin-top: 72px;
}

.benefits__title {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.benefits__list {
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0;
	column-gap: 70px;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}

.benefits__item {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	flex: 1 1 calc((100% - 140px) / 3);
	position: relative;
	padding-right: 18px;
}

.benefits__item:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0px;
	width: 124px;
	height: 1px;
	transform-origin: 100% 0;
	transform: rotate(-90deg) translateX(50%);
	background-color: var(--bor_right);
}

.benefits__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 62px;
	border-radius: 365px;
	border: 1px solid var(--bor_right);
	margin-bottom: 22px;
}

.benefits__subtitle {
	color: var(--ligth_text);
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 18px;
}
p.benefits__text {
	color: var(--maintext_light);
	letter-spacing: -0.28px;
}

/* ------Ingridients------ */

.ingrid {
	margin: 128px 0;
}
.ingrid__title {
	max-width: 411px;
	margin: 0 auto 28px;
}
.subtitle {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.17;
	letter-spacing: -0.72px;
	text-transform: uppercase;
}

.subtitle_span {
	color: var(--subbgc);
}
.ingrid__title_text {
	max-width: 486px;
	line-height: 1.29;
	letter-spacing: -0.28px;
	margin: 0 auto 50px;
}

.ingrid__list {
	display: flex;
	height: 100%;
	column-gap: 19px;
}
.ingrid__item {
	flex: 0 1 calc((100% - 57px) / 4);
	border-radius: 15px;
	background-color: var(--ligth_text);
	overflow: hidden;
}

.ingrid__item:nth-child(even) {
	border: 1px solid var(--subbgc);
	background: var(--ligth_text);
}

.ingrid__item:nth-child(4n + 1) {
	border: 1px solid var(--subbgc);
	background: var(--subbgc);
}

.ingrid__item:nth-child(4n + 1) .ingrid__imgtitle,
.ingrid__item:nth-child(4n + 3) .ingrid__imgtitle {
	color: var(--ligth_text);
}

.ingrid__item:nth-child(4n + 3) {
	border: 1px solid var(--dark_fon);
	background: var(--dark_fon);
}
.ingrid__overlaybox {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.ingrid__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 36px;
	padding: 28px 36px 28px 28px;
	border-radius: 15px;
}
.ingrid__imgtitle {
	font-weight: 600;
	line-height: 1.29;
	letter-spacing: -0.28px;
	text-transform: uppercase;
}
.ingrid__overlay::-webkit-scrollbar {
	width: 5px;
}

.ingrid__overlay::-webkit-scrollbar-track {
	background-color: var(--placeholdertext);
	border-radius: 5px;
}

.ingrid__overlay::-webkit-scrollbar-thumb {
	background-color: var(--subbgc);
	border-radius: 5px;
}

.ingrid__overlay:nth-child(4n + 3)::-webkit-scrollbar-thumb {
	background-color: var(--dark_fon);
}

.ingrid__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 15px;
	background: var(--ligth_text);
	overflow-y: auto;
	scrollbar-gutter: stable;
	transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.ingrid__oltitle {
	color: var(--maintext);
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 8px;
}
.ingrid__olinterective {
	display: flex;
	column-gap: 6px;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 14px;
}
.ingrid__olbuttom_main {
	color: var(--ligth_text);
	font-size: 10px;
	font-weight: 400;
	line-height: 1.2;
	padding: 6px 16px;
	background-color: var(--subbgc);
	border-radius: 35px;
}
.ingrid__olbuttom_sub {
	color: var(--maintext);
	font-size: 10px;
	font-weight: 400;
	line-height: 1.2;
	padding: 6px 16px;
	background-color: transparent;
	border: 1px solid var(--subbgc);
	border-radius: 35px;
}
.ingrid__oltext {
	color: var(--maintext);
	text-overflow: ellipsis;
	whitespace: nowrap;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.29; /* 128.571% */
	letter-spacing: -0.28px;
}
.ingrid__item:hover .ingrid__overlay,
.ingrid__item:focus .ingrid__overlay {
	transform: rotateY(180deg) scaleX(-1);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

/* ------Video-------  */
.prepare {
	margin-bottom: 128px;
}
.prepare__title {
	margin: 0 auto 50px;
}

.prepare__content {
	display: flex;
	column-gap: 20px;
	height: 100%;
	flex-wrap: wrap;
}
.prepare__imgpart {
	position: relative;
	flex-basis: calc((100% - 20px) / 2);
	height: auto;
	border-radius: 15px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(../images/png/video.png),
		lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
	background-size: cover;
}
.prepare__svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.prepare__textpart {
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 28px;
	flex-basis: calc((100% - 20px) / 2);
	padding: 32px;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 15px;
	background: var(--ligth_text);
}
.prepare__smtitle {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33;
}
.prepare__list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	row-gap: 24px;
	height: auto;
}

.prepare__item {
	display: flex;
	column-gap: 8px;
}

.prepare__marker {
	height: 8px;
	flex: 0 0 8px;
	align-items: center;
	margin-top: 4px;
}

.prepare__itemtext {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.28;
	letter-spacing: -0.28px;
}

/* ------Products------ */
.products {
	margin-bottom: 173px;
}

.products__title {
	margin-bottom: 50px;
}
.products__list {
	display: flex;
	column-gap: 18px;
	height: 100%;
}
.products__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 calc((100% - 54px)) / 4;
	padding: 32px 20px;
	background-color: var(--ligth_text);
	border: 1px solid var(--border);
	border-radius: 15px;
}
.products__img {
	background: url(), lightgray -3.584px -19.709px / 102.928% 117.778% no-repeat;
	width: 230px;
	height: 201px;
	margin-bottom: 8px;
	object-fit: cover;
}
.products__subtitle {
	color: var(--maintext);
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33;
	letter-spacing: -0.36px;
	text-transform: uppercase;
}
.products__text {
	color: var(--smtext);
	line-height: 1.17;
	letter-spacing: -0.24px;
	margin-bottom: 18px;
}
.products__button {
	color: var(--maintext);
	font-weight: 600;

	padding: 8px 20px;
	border-radius: 100px;
	background-color: var(--wrapper);
	border: 1px solid var(--border);
}

/* ------Sellers------ */
.sellers {
	margin-bottom: 128px;
}

.sellers__title {
	margin-bottom: 50px;
}

.sellers__list {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}
.sellers__itemspart {
	display: flex;
	column-gap: 16px;
	justify-content: center;
	align-items: center;
}
.sellers__item {
	flex: 0 0 calc((100% - 32px) / 3);
	border-radius: 15px;
	background: url(), lightgray 50% / cover no-repeat;
}
.sellers__textpart {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.sellers__text {
	max-width: 407px;
	color: var(--maintext);
	line-height: 1.29;
	letter-spacing: -0.28px;
}
.sellers__button {
}

/* ------Review------ */
.review {
	margin-bottom: 128px;
}
.review__title {
}
.review__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 28px;
	margin-top: 90px;
	margin-bottom: 50px;
}
.review__item {
	display: flex;
	flex-direction: column;
	flex: 1 1 calc((100% - 56px) / 3);

	position: relative;
	top: 0;
	left: 0;

	border-radius: 15px;
	border: 1px solid var(--border);
	background: var(--ligth_text);
	box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);
	padding: 56px 24px 26px;
}
.review__image {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80px;
	max-height: 80px;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 50%;
	overflow: hidden;
}
.review__smtitle {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.33;
	margin-bottom: 24px;
}
.review__text {
	color: var(--smtext);
	text-align: center;
	line-height: 1.29;
	letter-spacing: -0.28px;
}
.review__button {
	display: block;
	color: var(--maintext);
	font-size: 18px;
	font-weight: 600;
	padding: 14px 40px;
	background-color: var(--wrapper);
	border-radius: 100px;
	border: 1px solid var(--subbgc);
	margin: 0 auto;

	transition-property: color background-color;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.review__button:hover,
.review__button:focus {
	color: var(--ligth_text);
	background-color: var(--subbgc);
	transform: scale(1.1);
}

/* ------Subscribe new------ */
.subscribe {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(../images/png/Subcribe.png), lightgray 0px -481.157px / 100% 375.122%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 72px 0;
	max-width: 1200px;
	margin: 0 auto;
}

.subscribe__title {
	color: var(--ligth_text);
	max-width: 378px;
	margin: 0 auto 24px auto;
}
.subscribe__text {
	color: var(--ligth_text);
	text-align: center;
	line-height: 1.29;
	letter-spacing: -0.28px;
	max-width: 467px;
	margin: 0 auto 24px auto;
}
.subscribe__button {
	margin: 0 auto;
}

/* ------FOOTER------ */
.footer {
	padding: 50px 0 25px;
	background: var(--dark_fon);
}
.footer__head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 62px;
	border-bottom: 1px solid var(--bor_bottom);
}
.footer__title {
	color: var(--ligth_text);
	font-size: 28px;
	font-weight: 500;
	line-height: 1.21;
	letter-spacing: -0.56px;
	max-width: 300px;
}
.footer__title_span {
	color: var(--subbgc);
}
.footer__contacts {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	column-gap: 63px;

	font-style: normal;
	color: var(--ligth_text);
	line-height: 1.29;
}
.footer__contacts-part {
	display: flex;
	flex-direction: column;
	row-gap: 14px;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer__contacts-text {
	font-weight: 500;
}
.footer__contacts-list {
}
.footer__contact-item {
}

.footer__contacts-link {
	font-weight: 400;
	letter-spacing: -0.28px;
	transition-property: color;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-item:hover .footer__contacts-link,
.footer__contact-item:focus .footer__contacts-link {
	color: var(--subbgc);
}
.footer__contact-item:hover,
.footer__contact-item:focus {
	transform: scale(1.1);
}

.footer__contacts-social-list {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	column-gap: 18px;
}
.footer__contacts-social-item {
	width: 24px;
	height: 24px;
	padding-bottom: 28px;
}
.footer__contacts-social-link {
	display: block;
	width: 100%;
	height: 100%;
}
.footer__contacts-svg {
	stroke: var(--ligth_text);
	transition-property: stroke;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-social-link:hover .footer__contacts-svg,
.footer__contacts-social-link:focus .footer__contacts-svg {
	stroke: var(--subbgc);
	transform: scale(1.1);
}
.footer__nav {
}
.footer__nav-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	justify-content: start;
	align-items: center;
}
.footer__nav-item {
	padding: 24px 0 25px;
}
.footer__nav-link {
	color: var(--ligth_text);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: -0.28px;
	transition-property: color;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__nav-item:hover .footer__nav-link,
.footer__nav-item:focus .footer__nav-link {
	color: var(--subbgc);
	transform: scale(1.1);
}

.footer__nav-item:hover,
.footer__nav-item:focus {
	transform: scale(1.1);
}
.back-to-top {
	position: relative;
	width: 40px;
	height: 40px;

	transition-property: border;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.back-to-top__button {
	position: fixed;
	right: 10px;
	bottom: 200px;
	width: 40px;
	height: 40px;

	border-radius: 50%;
	background-color: var(--subbgc);

	transition-property: background-color border;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.back-to-top__buttons-svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(180deg);
	fill: var(--ligth_text);

	transition-property: fill;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.back-to-top:hover .back-to-top__button .back-to-top__buttons-svg,
.back-to-top:focus .back-to-top__button {
	transform: scale(1.1);
	background-color: var(--ligth_text);
	border: 1px solid var(--subbgc);
	fill: var(--subbgc);
}

/* ------Form buy now------ */
.buynow {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border: 0 solid transparent;
	border-radius: 15px;
	background: var(--wrapper);
}
.buynow__container {
	width: 100%;
	height: 100%;
	max-width: 609px;
	padding: 48px;
}

.buynow__button_close {
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 24px;
	right: 24px;
	background-color: transparent;
}

.buynow__icon {
	display: inline-block;
	stroke-width: 0;
	stroke: var(--maintext);
}

.buynow__icon use {
	display: block;
	width: 1em;
	height: 1em;
}
.buynow__title {
	max-width: 122px;
	text-align: center;
	margin: 0 auto 32px;
}
.buynow__forminput {
	display: flex;
	flex-direction: column;
	row-gap: 18px;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	padding-bottom: 18px;
}
.buynow__field_inputs {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	align-items: flex-start;
	width: 100%;
}
.buynow__fieldsed_inputs {
	display: flex;
	align-items: flex-start;
	gap: 21px;
}

.buynow__fieldsed_lebel {
	flex: 0 0 calc((100% - 21px) / 2);
}
.buynow__legend {
	padding-bottom: 8px;
}
.buynow__label,
.buynow__legend {
	color: var(--maintext);
	font-weight: 500;
	line-height: 1.29;
	letter-spacing: -0.28px;
}

.buynow__input {
	width: 100%;
	color: var(--maintext);
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.36px;
	padding: 22px 24px;
	border-radius: 13px;
	border: 1.5px solid rgba(17, 17, 17, 0.05);
	box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}
.buynow__input::placeholder,
.buynow__textarea::placeholder {
	color: var(--placeholdertext);
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.36px;
}
.inputdetails {
	padding-left: 177px;
}
.buynow__dataphone,
.buynow__cardnumber {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.buynow__phonedetails {
	position: absolute;
	top: 50%;
	left: 24px;
	transform: translateY(-50%);

	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 18px;
	width: 125px;
	border-right: 1px solid var(--placeholdertext);
}
.buynow__fieldsed_lebel:focus,
.buynow__fieldsed_lebel:hover,
.buynow__input:focus,
.buynow__input:hover,
.buynow__textarea:focus,
.buynow__textarea:hover {
	border-color: var(--subbgc);
}
.buynow__codephone {
	color: var(--maintext);
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.36px;
}
.buynow__cardicon {
	position: absolute;
	top: 50%;
	right: 24px;
	transform: translateY(-50%);
}
.buynow__textarea {
	width: 100%;
	min-height: 137px;
	color: var(--maintext);
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.36px;
	padding: 22px 24px;
	border-radius: 13px;
	border: 1.5px solid rgba(17, 17, 17, 0.05);
	box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}
.buynow__buttom_submit {
	margin: auto;
}

/* ------Form leave review------ */
.leavereview {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border: 0 solid transparent;
	border-radius: 15px;
	background: var(--wrapper);
}
.leavereview__container {
	width: 100%;
	height: 100%;
	max-width: 517px;
	padding: 40px;
}
.leavereview__button_close {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 24px;
	right: 24px;
	background-color: transparent;
}
.leavereview__icon {
	stroke: var(--maintext);
}
.leavereview__title {
	max-width: 298px;
	margin-bottom: 40px;
	text-align: left;
}
.leavereview__form {
	display: flex;
	flex-direction: column;
	row-gap: 18px;
	align-items: flex-start;
	width: 100%;
}
.leavereview__input,
.leavereview__textarea {
	width: 100%;
	color: var(--maintext);
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.36px;
	padding: 22px 24px;
	border-radius: 13px;
	border: 1.5px solid rgba(17, 17, 17, 0.05);
	box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}
.leavereview__input::placeholder,
.leavereview__textarea::placeholder {
	color: var(--placeholdertext);
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.36px;
}
.leavereview__dataphone {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}
.leavereview__buttom_send {
	margin: 0 auto;
}
.lrinputdetails {
	padding-left: 177px;
	width: 437px;
}
.leavereview__input:focus,
.leavereview__input:hover,
.leavereview__textarea:focus,
.leavereview__textarea:hover {
	border-color: var(--subbgc);
}

/* ------Form  subscribeform------ */
.subscribeform {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	border: 0 solid transparent;
	border-radius: 15px;
	background: var(--wrapper);
	overflow: hidden;
}
.subscribeform__top {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 538px;
	min-height: 196px;
	background: url(../images/png/tetiana-bykovets-TzN2odwnesg-unsplash.png), lightgray 50% / cover no-repeat;
	background-size: cover;
}

.subscribeform__button_close {
	position: absolute;
	width: 28px;
	height: 28px;
	top: 24px;
	right: 24px;
	background-color: transparent;
}
.subscribeform__icon {
	stroke: var(--ligth_text);
}
.subscribeform__conteiner {
	width: 100%;
	height: 100%;
	max-width: 538px;
	padding: 40px;
}
.subscribeform__title {
	max-width: 298px;
	text-align: left;
	margin-bottom: 28px;
}
.subscribeform__form {
	display: flex;
	column-gap: 8px;
}
.subscribeform__input {
	width: 313px;
	padding: 14px 24px;
	align-items: flex-start;
	color: var(--maintext);
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.36px;
	border-radius: 30px;
	border: 1.5px solid var(--border);
}

.subscribeform__input::placeholder {
	color: var(--placeholdertext);
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.36px;
}
.subscribeform__input:focus,
.subscribeform__input:hover {
	border-color: var(--subbgc);
}
