:root {
	--wrapper: #fafafa;
	--maintext: #111;
	--mainbgc: #fcf1e0;
	--ligth_text: #fff;
	--subbgc: #fd9222;
}

/* Обнулення */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
a:link {
	text-decoration: none;
}
ul {
	list-style-type: none;
}

body {
	font-family: "Montserrat", sans-serif;
	color: var(--maintext);
	font-weight: 400;
	font-size: 14px;
	background: var(--wrapper);
}

.conteiner {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1166px;
	height: 100%;
}

/* HEADER */
.logo {
	color: currentColor;
	font-size: 21.6px;
	font-weight: 700;
	line-height: 1.11;
	letter-spacing: -0.54px;
	text-transform: uppercase;
	text-align: center;
	background: var(--wrapper);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.logo_italic {
	font-style: italic;
}

.header_nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 26px;
	padding-bottom: 34px;
}

.header_nav_list {
	display: flex;
	column-gap: 24px;
	align-items: flex-start;
	flex-wrap: wrap;
}

.header_add_list {
	display: flex;
	column-gap: 18px;
	align-items: flex-start;
	flex-wrap: wrap;
}

.header_add_item {
	/* display: inline-block; */
	justify-content: center;
	align-items: center;
}

.nav_text {
	display: inline-block;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: -0.28px;
}

.nav_text a {
	color: currentColor;
}

.header_add_item a {
	display: block;
	text-align: center;
}

/* Hero Page */
.start_page {
	/* padding-bottom: 72px; */
}

.start_page_cover {
	background: var(--mainbgc);
	background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/svg/chocolate-covered.png);
	/* lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat; */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
	overflow: hidden;
	padding: 381px 40px 40px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-shrink: 0;
}

.primer_text {
	color: var(--ligth_text);
	font-size: 28px;
	font-weight: 500;
	line-height: 1.21; /* 121.429% */
	letter-spacing: -0.84px;
	max-width: 484px;
}

.start_page_interactive {
	display: flex;
	max-width: 100%;
	flex: 0 1 100%;
}

.start_page_button {
	display: flex;
	align-items: flex-start;
	gap: 14px;
}

.main_button {
	display: block;
	color: var(--ligth_text);
	font-weight: 600;
	background-color: var(--subbgc);
	border-radius: 100px;
	padding: 14px 40px;
}

.main_button button {
	color: var(--ligth_text);
	background-color: var(--subbgc);
}

.main_button .start_page_link {
	display: block;
	align-items: flex-end;
}
